#form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.containerPago {
    height: 34px;
    display: inline-block;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    padding: 1px 2px;
    margin-bottom: 4px;
}