{%extends "nav.html"%}

{% block head %}
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<title>{{username}}</title>
{%endblock%}

{% block body %}
<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="col-3 gy-4">
            <div class="col">
                <div id="myTab" class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active bg-dark" target="inicio" data-bs-toggle="pill" type="button" role="tab" aria-selected="true">Inicio <i class='bx bxs-home'></i></button>
                    <button class="nav-link" target="editar" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Editar Perfil <i class='bx bxs-edit-alt'></i></button>
                    <button class="nav-link" target="chat" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Salas de chat <i class='bx bxs-chat' ></i></button>
                    <button class="nav-link" target="config" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Configuraci&oacute;n <i class='bx bx-cog'></i></button>
                </div>
            </div>
        </div>
        <div class="col-9 gy-4">
            <div id="inicio" class="row row-cols-2">
                <div class="col-3">
                    <img class="img-thumbnail rounded" src="{{url_for('static', filename='imgs/perfil/'+username+'.png')}}" alt="">
                </div>
                <div class="col-9">
                    <h3>{{username}}</h3>
                    <ul>
                        <li><p>Carrera: {{carrera}}</p></li>
                        <li><p>Ciclo: {{ciclo}}</p></li>
                    </ul>
                </div>
                <div class="col-9 gy-4">
                    <div class="container">
                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="nav-item posts">
                                    <a class="nav-link link-dark active" href="#preguntas" data-bs-toggle="tab">Preguntas</a>
                                </li>
                                <li class="nav-item posts">
                                    <a class="nav-link link-secondary" href="#respuestas" data-bs-toggle="tab">Respuestas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col" id="posts"></div>
                    </div>
                </div>
            </div>
            <div id="editar" class="row row-cols-2" style="display:none">
                <div id="change-img" class="col-3">
                    <img id="img_preview" class="img-thumbnail rounded" src="{{url_for('static', filename='imgs/perfil/'+username+'.png')}}" alt="">
                </div>
                <div class="col-9">
                    <form id="formEdit">
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Nombre de usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" value="{{username}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Carrera</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="carrera" value="{{carrera}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">ciclo</label>
                            <div class="col-sm-10">
                                <select name="ciclo" value="{{ciclo}}">
                                    {% for i in range(ciclo, 11) %}
                                    <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <button id="editBtn" class="btn btn-dark">Guardar cambios</button>
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static', filename='js/posts.js')}}"></script>
<script src="{{url_for('static', filename='js/check_forms.js')}}"></script>
<script src="{{url_for('static', filename='js/perfil.js')}}"></script>
{%endblock%}