{%extends "nav.html"%}

{% block head %}
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<title>{{username}}</title>
{%endblock%}

{% block body %}
<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="col-3 gy-4">
            <div class="col">
                <div id="myTab" class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active bg-dark" target="inicio" data-bs-toggle="pill" type="button" role="tab" aria-selected="true">Inicio <i class='bx bxs-home'></i></button>
                    <button class="nav-link" target="editar" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Editar Perfil <i class='bx bxs-edit-alt'></i></button>
                    <button class="nav-link" target="transacciones" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Transacciones <i class='bx bx-money' ></i></button>
                    <button class="nav-link" target="config" data-bs-toggle="pill" type="button" role="tab" aria-selected="false">Configuraci&oacute;n <i class='bx bx-cog'></i></button>
		    <a class="btn btn-danger" type="button" href="../../salir">Salir</a>
                </div>
            </div>
        </div>
        <div class="col-9 gy-4">
            <div id="inicio" class="row row-cols-2">
                <div class="col-3">
                    <img class="img-thumbnail rounded" src="{{url_for('static', filename='imgs/perfil/'+username+'.png')}}" alt="">
                </div>
                <div class="col-9">
                    <h3>{{username}}</h3>
                    <ul>
                        <li><p>Carrera: {{carrera}}</p></li>
                        <li><p>Ciclo: {{ciclo}}</p></li>
                    </ul>
                </div>
                <div class="col-9 gy-4">
                    <div class="container">
                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="nav-item posts">
                                    <a class="nav-link link-dark active" href="#preguntas" data-bs-toggle="tab">Preguntas</a>
                                </li>
                                <li class="nav-item posts">
                                    <a class="nav-link link-secondary" href="#respuestas" data-bs-toggle="tab">Respuestas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col" id="posts"></div>
                    </div>
                </div>
            </div>
            <div id="editar" class="row row-cols-2" style="display:none">
                <div id="change-img" class="col-3">
                    <img id="img_preview" class="img-thumbnail rounded" src="{{url_for('static', filename='imgs/perfil/'+username+'.png')}}" alt="">
                    <label id="imgEdit" for="fileperfil"></label>
                    <input type="file" style="display:none" name="perfil" id="fileperfil" accept="image/">
                </div>
                <div class="col-9">
                    <form id="formEdit">
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Nombre de usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" value="{{username}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Carrera</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="carrera" value="{{carrera}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">ciclo</label>
                            <div class="col-sm-10">
                                <select name="ciclo" value="{{ciclo}}">
                                    {% for i in range(ciclo, 11) %}
                                    <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <button id="editBtn" class="btn btn-dark">Guardar cambios</button>
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    </form>
                </div>
            </div>
	    <div id="config" class="row row-cols-2" style="display: none;">
		<div class="col-8">
		    <div class="row mb-1">
			<button class="btn btn-danger delete" target="cuenta">Eliminar cuenta</button>
		    </div>
		    {%if session["user"]["role"] == 0%}
		    <div class="row mb-1">
			<button class="btn btn-success">Ser Yisus</button>
		    </div>
		    {%else%}
		    <div class="row mb-1">
			<button class="btn btn-danger delete" target="yisus">Dejar de ser Yisus</button>
		    </div>
		    {%endif%}
		</div>
	    </div>
	    <div id="transacciones" class="row row-cols-2" style="display: none;" fetch="true">
		<div class="col-4">
		</div>
		<input type="hidden" id="token" value="{{csrf_token()}}">
		<div class="col-9 p-3">
		    {% if session["user"]["role"] == 2%}
		    <label>Contratos</label>
		    <div id="contratos"></div>
		    {%endif%}
		    <label>Usuarios contratados</label>
		    <div id="tables"></div>
		</div>
	    </div>
        </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static', filename='js/posts.js')}}"></script>
<script src="{{url_for('static', filename='js/check_forms.js')}}"></script>
<script src="{{url_for('static', filename='js/perfil.js')}}"></script>
{%endblock%}
