<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh, no :c</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body>
    <section class="w-full flex justify-center">
        <div class="w-1/2 flex justify-center text-2xl">
            <h1 style="font-family: 'Gluten', sans-serif;">Tu cuenta ha sido <span style="font-family: 'Sedgwick Ave Display', cursive;">suspendida</span> :(</h1>
        </div>
    </section>
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>